@font-face {
  font-family: "Space Grotesk medium";
  src: url(../fonts/SpaceGrotesk-Medium.otf) format("opentype");
}
@font-face {
  font-family: "Space Grotesk light";
  src: url(../fonts/SpaceGrotesk-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Arupala Grotesk";
  src: url(../fonts/ArupalaGroteskTrial-Italic.ttf) format("truetype");
}
@font-face {
  font-family: "Arupala Grotesk";
  src: url(../fonts/ArupalaGroteskTrial-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Arupala Grotesk light";
  src: url(../fonts/ArupalaGroteskTrial-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Arupala Grotesk";
  src: url(../fonts/ArupalaGroteskTrial-Medium.ttf) format("truetype");
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
  line-height: 1.4;
}

body {
  background-color: #131313;
  color: #F9F9F9;
  font-family: "Space Grotesk light";
  font-weight: 400;
  padding: 50px;
}

a {
  color: #F9F9F9;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Arupala Grotesk";
  text-transform: uppercase;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.form input,
.form select {
  padding: 32px 80px;
  background-color: #2D3037;
  border-radius: 72px;
  font-size: 28px;
  border: none;
  color: #3C3D40;
}
.form input[type=button] {
  background-color: #A7EC51;
  color: #131313;
  text-transform: uppercase;
}
.form select,
.form option {
  color: #F9F9F9;
  border: 2px #F9F9F9 solid;
}

.title {
  font-size: 80px;
  margin-bottom: 140px;
  font-weight: 500;
}

.secondary-title {
  color: #2D3037;
  font-size: 28px;
  text-transform: uppercase;
  font-family: "Space Grotesk medium";
}

.button {
  border-radius: 32px;
  border-style: none;
  text-transform: uppercase;
  font-family: "Space Grotesk medium";
  font-weight: 500;
}

.section_margin-bottom {
  margin-bottom: 180px;
}

.main-accent {
  color: #A7EC51;
}

.secondary-accent {
  color: #465D29;
}

.skill-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.skill-list__item-button {
  color: #A7EC51;
  padding: 16px 46px;
  background-color: #2D3037;
  border-radius: 40px;
  border: 1px #A7EC51 solid;
  gap: 4px;
}

.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 125px;
  gap: 20px;
}
.section-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 20px;
}
.section-header__nav-logo {
  -ms-flex-preferred-size: calc(25% - 10px);
      flex-basis: calc(25% - 10px);
}
.section-header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 130px;
}
.section-header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 16.6666666667%;
      flex-basis: 16.6666666667%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
.section-header__contacts-button {
  padding: 12px 38px;
  font-size: 20px;
  font-weight: normal;
}
.section-header__contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-hero__top-container {
  position: relative;
  margin-bottom: 64px;
}
.section-hero__top-container .section-hero__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 5.7vw;
  text-transform: uppercase;
}
.section-hero__top-container .section-hero__title_line-one {
  display: inline-block;
}
.section-hero__top-container .section-hero__title_line-one_accent {
  font-style: italic;
}
.section-hero__top-container .section-hero__title_line-one_arrow {
  margin-left: 3%;
}
.section-hero__top-container .section-hero__title_line-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.section-hero__top-container .section-hero__title_line-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 50px;
}
.section-hero__top-container .section-hero__title_line-three_abstract-container {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  bottom: 20px;
  -ms-flex-preferred-size: 16%;
      flex-basis: 16%;
  min-height: 90px;
  background-color: #4C66C3;
  border-radius: 60px;
}
.section-hero__top-container .section-hero__title_line-three_abstract-container_icon {
  position: absolute;
  width: 100%;
  max-height: 268px;
  bottom: 0;
  left: 0;
}
.section-hero__top-container-img {
  position: absolute;
  bottom: -3%;
  left: 12%;
  width: 25%;
  max-height: 439px;
}
.section-hero__bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-bottom: 300px;
}
.section-hero__bottom-container_left-side {
  -ms-flex-preferred-size: calc(41.6666666667% - 10px);
      flex-basis: calc(41.6666666667% - 10px);
}
.section-hero__bottom-container_right-side {
  -ms-flex-preferred-size: calc(58.3333333333% - 10px);
      flex-basis: calc(58.3333333333% - 10px);
}
.section-hero__bottom-container_text {
  display: block;
  width: 54%;
  line-height: 1.7;
  font-size: 22px;
  margin-bottom: 40px;
}
.section-hero__bottom-container_button {
  background-color: #A7EC51;
  padding: 19px 47px;
  font-size: 24px;
  text-align: center;
  color: #131313;
}

.section-about__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 80px 50%;
  width: 50%;
}
.section-about__title__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 90px;
}
.section-about__text {
  width: 25%;
  margin-left: auto;
  margin-bottom: 70px;
}
.section-about__skills-title {
  margin-left: 50%;
  width: 16%;
  margin-bottom: 32px;
}
.section-about__skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: 2px #A7EC51 solid;
  border-radius: 100px;
  min-height: 370px;
  position: relative;
}
.section-about__skills-container-photo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 760px;
  max-height: 845px;
}

.section-cooperating__title {
  width: 63%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 140px;
}
.section-cooperating__title_span:last-child {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.section-cooperating__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 96px;
}
.section-cooperating__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 16.6666666667%;
      flex-basis: 16.6666666667%;
}
.section-cooperating__list-item_number {
  color: #465D29;
  font-size: 40px;
  margin-bottom: 24px;
}
.section-cooperating__list-item_title {
  font-size: 32px;
  margin-bottom: 54px;
  text-transform: uppercase;
  font-family: "Space Grotesk medium";
}
.section-cooperating__list-item_text {
  display: block;
  border-top: 1px #A7EC51 solid;
  padding-top: 24px;
  font-size: 20px;
}

.section-services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section-services__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  background-color: #2D3037;
  border-radius: 100px;
  padding: 65px 80px;
  margin-bottom: 69px;
  min-height: 340px;
}
.section-services__list-item_text {
  -ms-flex-preferred-size: 41.6666666667%;
      flex-basis: 41.6666666667%;
  padding: 0 30px;
}
.section-services__list-item_text-title {
  margin-bottom: 48px;
  text-transform: uppercase;
  font-size: 56px;
}
.section-services__list-item_text-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
}
.section-services__list-item_number {
  position: absolute;
  font-family: "Arupala Grotesk";
  font-size: 340px;
  left: 3%;
  top: -20%;
  max-height: 330px;
  font-weight: small;
  overflow: hidden;
  text-align: center;
}
.section-services__list-item_abstract-img {
  position: absolute;
  right: 5%;
  bottom: 0;
}
.section-services__list-item:nth-child(even) .services-number {
  left: 70%;
}
.section-services__list-item:nth-child(even) .services-abstract {
  left: 5%;
}
.section-services__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 80px;
  padding: 29px 0;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
}

.section-awareness {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14vw;
  line-height: 1;
  text-decoration: none;
  font-family: "Arupala Grotesk";
}
.section-awareness__line-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-awareness__line-top-text_circle {
  display: inline-block;
  width: 10vw;
  min-height: 170px;
  max-height: 170px;
  height: 20vh;
  border-radius: 50%;
  -webkit-transform: scale(2);
          transform: scale(2);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.section-awareness__line-top-text_circle:first-child {
  background-image: url("../../img/circle_1.png");
  position: relative;
  left: 1vw;
}
.section-awareness__line-top-text_circle:last-child {
  position: relative;
  right: 1vw;
  background-image: url("../../img/circle_2.png");
  z-index: -1;
  margin-left: 5vw;
}
.section-awareness__icon {
  width: 10vw;
}
.section-awareness__line-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-awareness__line-bottom_letter:hover {
  font-family: "Arupala Grotesk light";
  color: #A7EC51;
  font-style: italic;
  font-weight: 400;
}

.projects-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
}
.projects-title__top .project-top__icon {
  margin-left: 13%;
  position: relative;
  top: -10px;
}
.projects-title__bottom {
  text-align: end;
}
.projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  margin-bottom: 80px;
}
.projects-list__item {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
}
.projects-list__item .projects-item {
  display: block;
  padding: 70px;
  border-radius: 100px;
  background-position: center;
  background-size: cover;
  position: relative;
}
.projects-list__item .projects-item__title {
  margin-bottom: 8px;
}
.projects-list__item .projects-item__text {
  margin-bottom: 15px;
}
.projects-list__item .projects-item__img {
  display: block;
  margin: 0 auto;
}
.projects-list__item .projects-item .projects-arrow {
  position: absolute;
  top: 15%;
  right: 15%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.projects-list__item .projects-item__one {
  background-image: url(/img/project-bg-1.jpg);
  padding-bottom: 61px;
}
.projects-list__item .projects-item__two {
  background-image: url(/img/project-bg-2.jpg);
}
.projects-list__item .projects-item__three {
  background-image: url(/img/project-bg-3.jpg);
  padding-bottom: 61px;
}
.projects-list__item .projects-item__four {
  background-image: url(/img/project-bg-4.jpg);
}
.projects-text {
  text-align: center;
}

.section-discussion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 20px;
  background-image: url("../../img/discussion_abstract.png");
  position: relative;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: left bottom;
}
.section-discussion__container {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.section-discussion__title {
  text-align: end;
  margin-bottom: 20px;
}
.section-discussion__title-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.section-discussion__title-icon {
  display: inline-block;
  position: relative;
  top: -10px;
}
.section-discussion__title-text {
  margin-bottom: 80px;
  text-align: end;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  margin-bottom: 80px;
  font-weight: lighter;
  gap: 40px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.footer-logo .logo {
  margin-bottom: 48px;
}
.footer-logo span {
  color: #A7EC51;
}
.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: calc(50% - 20px);
      flex-basis: calc(50% - 20px);
  gap: 20px;
}
.footer-links .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 26px;
}
.footer-connects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: calc(50% - 20px);
      flex-basis: calc(50% - 20px);
  gap: 20px;
}
.footer-connects .footer-contacts {
  -ms-flex-preferred-size: calc(50% - 10px);
      flex-basis: calc(50% - 10px);
}
.footer-connects .footer-social {
  -ms-flex-preferred-size: calc(50% - 10px);
      flex-basis: calc(50% - 10px);
}
.footer-comunication {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer-comunication p {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 26px;
}
.footer .comunication-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .comunication-icon {
  margin-right: 8px;
}

.copyrights {
  font-size: 12px;
  color: #F9F9F9;
  text-align: center;
}
.copyrights i,
.copyrights span {
  color: #A7EC51;
}/*# sourceMappingURL=style.css.map */