@import "base";


.hero {

  &-top {
    position: relative;

    // laptop image hero section
    &__image {
      position: absolute;
      bottom: -7%;
      left: 17%;
      width: 25%;
      max-height: 439px;
    }

    .hero-title {
      width: 100%;
      font-size: 116px;
      text-transform: uppercase;
      text-align: end;

      &__accent {
        color: $main-color;
        font-style: italic;
        text-transform: uppercase;

      }

      .title-span__img,
      .hero-abstract {
        margin-left: 55px;
      }

      .hero-abstract {
        margin-right: 23px;
      }


      .hero-abstract {
        display: inline-block;
        position: relative;
        bottom: -20px;
        width: 16%;
        height: 90px;
        background-color: #4C66C3;
        border-radius: 60px;

        &__img {
          position: absolute;
          width: 100%;
          height: 268px;
          bottom: 0;
          left: 0;
        }

      }


    }

  }
}