// Colors
$main-text-color: #F9F9F9;
$main-color: #A7EC51;
$bg-color: #131313;
$secondary-text-color: #212226;
$bg-skill-color: #212226;
$bg-form-color: #2D3037;


// Fonts
$title-font: "Arupala Grotesk";
$text-font: "Space Grotesk";