@font-face {
  font-family: "Space Grotesk medium";
  src: url(../fonts/SpaceGrotesk-Medium.otf) format("opentype");
}

@font-face {
  font-family: "Space Grotesk light";
  src: url(../fonts/SpaceGrotesk-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Arupala Grotesk";
  src: url(../fonts/ArupalaGroteskTrial-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "Arupala Grotesk";
  src: url(../fonts/ArupalaGroteskTrial-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Arupala Grotesk light";
  src: url(../fonts/ArupalaGroteskTrial-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Arupala Grotesk";
  src: url(../fonts/ArupalaGroteskTrial-Medium.ttf) format("truetype");
}