@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

// border for module form buttons
%form-button-border {
  &:hover {
    outline: 2px solid $bg-form-color;
    background-color: $main-color;
    border-bottom: 10px solid $bg-form-color;
  }
  &:focus {
    background-color: $main-color;
    outline: 2px solid $bg-form-color;
  }

  &:active {
    background-color: $main-color;
    border-bottom: 1px solid $bg-form-color;
    color: $bg-form-color;
  }
}
