// Colors
$main-text-color: #F9F9F9;
$main-color: #A7EC51;
$bg-color: #131313;
$secondary-text-color: #212226;
$bg-skill-color: #212226;
$bg-form-color: #2D3037;
$coop-numbers: #465D29;
$form-text-color: #3C3D40;




// Fonts
$title-font: "Arupala Grotesk";
$title-font-light: "Arupala Grotesk light";
$text-font: "Space Grotesk light";
$text-font-medium: "Space Grotesk medium"