// Colors
$main-text-color: #f9f9f9;
$main-color: #a7ec51;
$bg-color: #131313;
$secondary-text-color: #212226;
$bg-skill-color: #212226;
$bg-form-color: #2d3037;
$coop-numbers: #465d29;
$form-text-color: #3c3d40;

// Fonts
$title-font: "Arupala Grotesk";
$text-font: "Space Grotesk light";
$text-font-medium: "Space Grotesk medium";

// Media queries
$size-mobile: "max-width: 480px";
// $size-tablet: "max-width: 481px";
$size-tablet: "max-width: 769px";
$size-small: "max-width: 1025px";
$size-normal: "max-width: 1200px";
$size-large: "max-width: 1500px";
$size-xlarge: "min-width: 1800px";
