// Colors
$main-text-color: #f9f9f9;
$main-color: #a7ec51;
$bg-color: #131313;
$secondary-text-color: #212226;
$bg-skill-color: #212226;
$bg-form-color: #2d3037;
$coop-numbers: #465d29;
$form-text-color: #3c3d40;
$accent-color-one: #4c66c3;

// Fonts
$title-font: "Arupala Grotesk";
$text-font: "Space Grotesk light";
$text-font-medium: "Space Grotesk medium";

//font size
$text-size: 20px;
$title-size: 80px;
$title-size-secondary: 28px;

// Media queries
$size-mobile: "max-width: 480px";
$size-tablet: "min-width: 481px";
$size-small: "min-width: 769px";
$size-normal: "min-width: 1025px";
$size-large: "min-width: 1380px";
$size-xlarge: "min-width: 1800px";
$size-xxlarge: "min-width: 1921px";

// gradient colors
$border-gradient-colors-main-color: #e8fbcc, #d1f79f, #a7ec51, #95e239, #75c71b, #599f11;

$border-gradient-colors-secondary-color: #d9dade, #b7bac2, #9095a0, #727785, #5c606d, #4b4e59, #5c606d, #727785, #9095a0,
  #b7bac2, #d9dade;
