.title {
  font-size: 28px;
  margin-bottom: 40px;
  font-weight: 500;

  @media screen and ($size-tablet) {
    font-size: 7vw;
  }
  @media screen and ($size-small) {
    font-size: 60px;
  }
  @media screen and ($size-normal) {
    margin-bottom: 140px;
  }
  @media screen and ($size-large) {
    font-size: 80px;
  }
}

.secondary-title {
  color: $bg-form-color;
  font-size: 20px;
  text-transform: uppercase;
  font-family: $text-font-medium;

  @media screen and ($size-small) {
    font-size: 28px;
  }
}
