.title {
  font-size: 80px;
  margin-bottom: 140px;
  font-weight: 500;
}

.secondary-title {
  color: $bg-form-color;
  font-size: 28px;
  text-transform: uppercase;
  font-family: $text-font-medium;
}