.section-discussion {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  gap: 20px;
  background-image: url(../../img/discussion_abstract_opacity.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: left top;
  animation: bounce 2.2s linear infinite;

  @keyframes bounce {
    0% {
      background-position: left -20px top 3%;
    }

    50% {
      background-position: left -20px top 0%;
    }
    100% {
      background-position: left -20px top 3%;
    }
  }

  @media screen and ($size-small) {
    background-size: 25%;

    @keyframes bounce {
      0% {
        background-position: left 30% bottom 15%;
      }

      50% {
        background-position: left 30% bottom 0%;
      }
      100% {
        background-position: left 30% bottom 15%;
      }
    }
  }
  @media screen and ($size-normal) {
    background-image: url("../../img/discussion_abstract.png");
    background-size: 40%;
    @keyframes bounce {
      0% {
        background-position: left -20px top 20%;
      }

      50% {
        background-position: left -20px top 0%;
      }
      100% {
        background-position: left -20px top 20%;
      }
    }
  }
  @media screen and ($size-xlarge) {
    @keyframes bounce {
      0% {
        background-position: left -20px top;
      }

      50% {
        background-position: left bottom;
      }
      100% {
        background-position: left -20px top;
      }
    }
  }

  &__container {
    flex-basis: 100%;

    @media screen and ($size-small) {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
    @media screen and ($size-normal) {
      display: block;
      flex-basis: 50%;
    }

    &-title {
      margin-bottom: 48px;
      @media screen and ($size-small) {
        flex-basis: calc(50% - 20px);
      }
    }
  }

  &__title {
    display: block;
    text-align: end;
    margin-bottom: 20px;
    font-size: 32px;

    @media screen and ($size-tablet) {
      font-size: 8vw;
    }
    @media screen and ($size-small) {
      font-size: 34px;
    }
    @media screen and ($size-normal) {
      font-size: 5vw;
    }
    @media screen and ($size-large) {
      font-size: 74px;
    }
    @media screen and ($size-xlarge) {
      font-size: 80px;
    }

    &-span {
      display: flex;
      justify-content: flex-end;
      flex-grow: 1;
      gap: 10px;
    }

    &-text {
      width: 75%;
      display: flex;
      justify-content: flex-end;
      margin-left: auto;
      text-align: start;

      @media screen and ($size-tablet) {
        width: 70%;
        margin-left: auto;
        text-align: start;
        margin-bottom: 80px;
      }
      @media screen and ($size-small) {
        margin-bottom: 48px;
        width: 100%;
      }
    }
  }
}
