.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 125px;
  gap: 20px;

  @media screen and ($size-normal) {
    margin-bottom: 100px;
  }
  @media screen and ($size-mobile) {
    margin-bottom: 55px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 50%;
    gap: 40px;

    &-logo {
      flex-grow: 1;

      @media screen and ($size-mobile) {
        transform: scale(95%);
      }
    }

    &-list {
      display: flex;
      flex-grow: 2;
      justify-content: end;
      align-items: center;
      gap: 130px;

      // 1400
      @media screen and ($size-large) {
        gap: 100px;
      }

      //1200
      @media screen and ($size-normal) {
        gap: 50px;
      }

      @media screen and ($size-mobile) {
        display: none;
      }
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    flex-basis: calc(100% / 12 * 5 - 20px);
    justify-content: flex-end;
    gap: 30px;

    @media screen and ($size-mobile) {
      display: none;
    }

    &-button {
      padding: 12px 38px;
      font-size: 20px;
      font-weight: normal;

      //1400
      @media screen and ($size-large) {
        font-size: 18px;
      }

      //1200
      @media screen and ($size-normal) {
        font-size: 16px;
        padding: 10px 32px;
      }

      //mobile 480

      &:hover {
        background-color: transparent;
        color: $main-color;
        border: 1px solid $main-color;
      }
    }

    &-link {
      display: flex;
      align-items: center;
    }
  }
}
