.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
  gap: 20px;

  @media screen and ($size-small) {
    margin-bottom: 75px;
  }

  @media screen and ($size-normal) {
    margin-bottom: 100px;
  }

  @media screen and ($size-large) {
    margin-bottom: 125px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    //1024
    @media screen and ($size-small) {
      flex-basis: 60%;
      gap: 40px;
    }
    @media screen and ($size-large) {
      gap: 40px;
      flex-basis: 50%;
    }

    &-logo {
      flex-grow: 1;

      @media screen and ($size-mobile) {
        transform: scale(95%);
      }
    }

    &-list {
      display: none;
      flex-grow: 2;
      justify-content: end;
      align-items: center;

      @media screen and ($size-small) {
        display: flex;
        justify-content: space-around;
        gap: 40px;
      }

      @media screen and ($size-normal) {
        gap: 100px;
      }
      // @media screen and ($size-large) {
      //   gap: 130px;
      // }
    }
  }

  &__contacts {
    display: none;
    align-items: center;
    flex-basis: calc(100% / 12 * 5 - 20px);
    justify-content: flex-end;
    gap: 30px;

    //1024
    @media screen and ($size-small) {
      flex-basis: 35%;
      display: flex;
    }

    &-button {
      padding: 8px 28px;
      font-size: 20px;
      font-weight: normal;

      @media screen and ($size-small) {
        padding: 10px 32px;
      }

      @media screen and ($size-small) {
        padding: 12px 38px;
      }

      &:hover {
        background-color: transparent;
        color: $main-color;
        outline: 1px solid $main-color;
      }
    }

    &-link {
      display: flex;
      align-items: center;
    }
  }
}
