.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 125px;
  gap: 20px;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    gap: 20px;

    &-logo {
      flex-basis: calc(100%/12*3 - 10px);

    }

    &-list {
      display: flex;
      flex-grow: 1;
      align-items: center;
      gap: 130px;
    }

  }


  &__contacts {
    display: flex;
    align-items: center;
    flex-basis: calc(100%/12*2);
    justify-content: space-between;
    gap: 10px;

    &-button {
      padding: 12px 38px;
      font-size: 20px;
      font-weight: normal;

    }

    &-link {
      display: flex;
      align-items: center;
    }
  }
}