.section-hero {
  // hero section top side
  &__top-container {
    position: relative;
    margin-bottom: 64px;

    .section-hero__title {
      display: flex;
      flex-direction: column;
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 500;

      @media screen and ($size-tablet) {
        font-size: 7vw;
      }
      @media screen and ($size-small) {
        font-size: 5.5vw;
        margin-bottom: 150px;
      }
      @media screen and ($size-normal) {
        font-size: 5.7vw;
      }
      @media screen and ($size-xxlarge) {
        font-size: 116px;
      }

      &--line-one {
        display: flex;
        flex-direction: column;
        margin-bottom: 140px;

        span:last-child {
          text-align: end;
        }

        @media screen and ($size-small) {
          display: inline-block;
          margin-bottom: 0;
          span:last-child {
            text-align: start;
            margin-bottom: 0;
          }
        }

        &--accent {
          font-style: italic;
        }

        &--arrow {
          margin-left: 3%;
          width: 6vw;
        }
      }

      &--line-two {
        display: flex;
        justify-content: flex-end;
        gap: 10px;

        &--accent {
          font-style: italic;
          color: $accent-color-one;

          @media screen and ($size-small) {
            font-style: normal;
            color: $main-text-color;
          }
        }
      }

      &--line-three {
        display: flex;
        justify-content: flex-end;
        gap: 50px;
        letter-spacing: 3px;

        &--abstract-container {
          display: none;
          align-self: flex-end;
          position: relative;
          bottom: 20px;
          background-color: #4c66c3;
          border-radius: 60px;

          @media screen and ($size-small) {
            display: flex;
            min-height: 44px;
            flex-basis: 15%;
            bottom: 0;
          }
          @media screen and ($size-normal) {
            min-height: 54px;
            flex-basis: 16%;
          }
          @media screen and ($size-large) {
            min-height: 80px;
            flex-basis: 18%;
          }

          &-icon {
            position: absolute;
            width: 100%;
            max-height: 268px;
            bottom: 0;
            left: 0;
          }
        }
      }
    }

    // laptop image hero section
    &-img {
      position: absolute;
      width: 230px;
      top: 15%;
      left: 0;
      max-height: 439px;
      animation-name: floating;
      animation-iteration-count: infinite;
      animation-duration: 5s;
      animation-timing-function: linear;

      @media screen and ($size-tablet) {
        width: 40vw;
        top: 15%;
        font-size: 38px;
      }
      @media screen and ($size-small) {
        top: 20%;
        left: 15%;
        width: 30%;
      }
      @media screen and ($size-normal) {
      }
    }

    @keyframes floating {
      0% {
        transform: translateY(0%);
      }

      50% {
        transform: translateY(7%);
      }

      100% {
        transform: translateY(0%);
      }
    }
  }

  // hero title bottom side
  &__bottom-container {
    display: flex;
    flex-direction: column;
    gap: 28px;

    @media screen and ($size-tablet) {
      flex-direction: row;
    }

    &--left-side {
      flex-basis: calc(100% / 12 * 5 - 20px);
    }

    &--right-side {
      flex-basis: calc(100% / 12 * 7);
    }

    &--text {
      display: block;
      font-size: 14px;
      width: 90%;
      line-height: 1.4;
      margin-bottom: 55px;

      @media screen and ($size-small) {
        width: 100%;
        line-height: 1.7;
        font-size: 22px;
        margin-bottom: 40px;
      }
      @media screen and ($size-normal) {
        width: 70%;
      }
      @media screen and ($size-large) {
        width: 60%;
      }
      @media screen and ($size-xlarge) {
        width: 50%;
      }
    }

    &--button {
      background-color: $main-color;
      position: relative;
      padding: 16px 70px;
      font-size: 20px;
      text-align: center;
      color: $bg-color;
      overflow: hidden;
      z-index: 1;

      @media screen and ($size-tablet) {
        padding: 16px 39px;
        font-size: 14px;
      }
      @media screen and ($size-small) {
        padding: 19px 47px;
        font-size: 24px;

        &::after {
          content: "";
          width: 0;
          height: 0;
          position: absolute;
          bottom: -35%;
          left: 50%;
          background-color: #fff;
          border-radius: 50% 50% 0 0;
          transform: translate(-50%);
          z-index: -1;

          transition:
            width 1s ease,
            transform 1s ease,
            height 1s ease;
        }
        &:hover::after {
          width: 300px;
          height: 300px;
          transform: scale(5);
          background-color: $main-text-color;
        }
      }
    }
  }
}
