.section-projects {

  // projects title
  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;


    &-line-one {
      display: flex;
      justify-content: space-between;

      &-icon {
        margin-left: 13%;
        position: relative;
        top: -10px;
      }
    }

    &-line-two {
      text-align: end;
    }
  }

  // projects list
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 80px;



    &-item {
      flex-basis: calc(50% - 20px);
      flex-grow: 1;



      &-title {
        margin-bottom: 10px;
      }

      &-text {
        margin-bottom: 16px;
      }

      &-img {
        display: block;
        margin: 0 auto;
      }

      &-icon {
        position: absolute;
        top: 15%;
        right: 15%;
        transform: rotate(45deg);
      }


      &-link {
        display: block;
        padding: 60px 100px;
        border-radius: 100px;
        background-position: center;
        background-size: cover;
        position: relative;
        height: 100%;

        &:first-child {
          background-image: url(/img/project-bg-1.jpg);
          padding-bottom: 61px;
          border-radius: 2px solid red;
        }

        &:nth-child(2) {
          background-image: url(/img/project-bg-2.jpg);
        }

        &:nth-child(3) {
          background-image: url(/img/project-bg-3.jpg);
          padding-bottom: 61px;
        }

        &:last-child {
          background-image: url(/img/project-bg-4.jpg);
        }
      }
    }
  }

  &__text {
    text-align: center;
  }

}