.section-projects {
  // projects title
  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;

    @media screen and ($size-small) {
      width: 75%;
    }
    @media screen and ($size-large) {
      width: 55%;
    }

    &-line-one {
      display: flex;
      justify-content: space-between;

      &-icon {
        margin-left: 13%;
        position: relative;
        top: -10px;
      }
    }

    &-line-two {
      text-align: end;
    }
  }

  // projects list
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 80px;

    @media screen and ($size-small) {
      gap: 40px;
    }

    &-item {
      flex-grow: 1;
      border-radius: 50px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      &:hover {
        .section-projects__list-item-img {
          transform: scale(1.05);
        }
        .section-projects__list-item-icon {
          transform: rotate(90deg);
        }
      }

      &:first-child {
        background-image: url(/img/project-bg-1.jpg);
      }

      &:nth-child(2) {
        background-image: url(/img/project-bg-2.jpg);
      }

      &:nth-child(3) {
        background-image: url(/img/project-bg-3.jpg);
      }

      &:last-child {
        background-image: url(/img/project-bg-4.jpg);
      }

      @media screen and ($size-small) {
        flex-basis: calc(50% - 20px);
      }

      &-title {
        margin-bottom: 10px;
        font-size: 20px;

        @media screen and ($size-large) {
          font-size: 32px;
        }
      }

      &-text {
        margin-bottom: 16px;

        @media screen and ($size-large) {
          font-size: 20px;
        }
      }

      &-img {
        display: block;
        margin: 0 auto;
        width: 100%;
        transition: transform 0.5s linear;
      }

      &-icon {
        display: none;
        position: absolute;
        top: 15%;
        right: 15%;
        transform: rotate(45deg);
        transition: transform 0.5s linear;

        @media screen and ($size-small) {
          top: 10%;
          right: 5%;
          display: block;
        }
      }

      &-link {
        display: block;
        padding: 40px 0 30px 30px;
        position: relative;
        height: 100%;

        @media screen and ($size-small) {
          padding-left: 40px;
          border-radius: 100px;
        }
        @media screen and ($size-small) {
          padding: 70px 60px;
          border-radius: 100px;
        }
      }
    }
  }

  &__text {
    text-align: center;
  }
}
